# Virtual environment
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Files
DejaVuSans.ttf
main1.py
main.py
output.json
requirements.txt

# Directories
data/
env/
myenv/
scrape/
utils/
__pycache__/

